connection-pooling-with-hikari-lib/src/main/mule/db-pooling-postgre.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="db-pooling-postgreFlow" doc:id="8937a4c8-8976-4ddb-bf01-ff8674aeaaf2" >
		<scheduler doc:name="Scheduler" doc:id="dc2b308d-5786-4ec9-82e2-1cfeaa009424" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="SELECT film_id, title, description&#10;	FROM public.film;" doc:id="4e72774e-9883-4a6d-a9f9-c3ebec9c3961" config-ref="postgree-dvdrental-data-source-config">
			<db:sql ><![CDATA[SELECT film_id, title, description 
	FROM public.film
	LIMIT 5;]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Payload" doc:id="3320c4f6-882e-41d5-966c-1cd23e492d39" message="#[output application/json&#10;---&#10;payload]"/>
	</flow>
</mule>
