connection-pooling-with-hikari-lib/src/main/mule/db-pooling-mysql.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="connection-pooling-mysql" doc:id="b8324f32-01fd-4f89-9fd8-9233c08f12af" >
		<scheduler doc:name="Scheduler" doc:id="f52cba11-6772-4e89-9087-edac10d1b7b0" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="SELECT dept_no, dept_name FROM departments" doc:id="551102ff-fd77-4a11-9839-e25da4275c06" config-ref="mysql-employees-data-source-config">
			<db:sql ><![CDATA[SELECT dept_no, dept_name FROM departments]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Payload" doc:id="726bfd03-4afe-4e20-8cf4-c69df3d6668c" message="#[output application/json&#10;---&#10;payload [0 to 4]]"/>
	</flow>
</mule>
